* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, darkblue,darkblue);
    background-repeat: no-repeat
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 10px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.bi {
    font-size: 30px;
}

h5 span{
    color: orange;
}

.NavLinksContainer ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.NavLinksContainer a{
    text-decoration: none;
    color: white;
}



button{
    padding: 2px 15px;
    margin: 0px 7px;
}

.darkbackground{
    background-color:transparent ;
    border: .1px solid lightblue;
    border-radius: 5px;
    color: white;
    outline: none;
    
}

.whitebackground{
    border-radius: 5px;
    border: .1px solid darkblue ;
    color: darkblue;
}

@media screen and (max-width: 800px){
    .NavLinksContainer{
        display: none;
    }
}

/* @media screen and (max-width: 800px) {
    .NavLinksContainer{
        display: none;
    }

} */




/* BODY */

.buttonParagraph{
    width: 300px;
}


.pictureContainer{
    width: 600px;
    height: 250px;
    
}

.pictureContainer img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bodyContainer{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.textparagraph span{
    color: rgb(107, 189, 216);
}

.dakblue{
    background: darkblue;
    border: .1px solid lightblue;
    border-radius: 5px;
    outline: none;
    color: white;
}

.lightblue{
    background: rgb(230, 249, 255);
    color: rgb(14, 14, 109);
    border-radius: 5px;
    outline: none;
    border: .1px solid darkblue;

}


.gridcolumncontainer{
    margin: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightblue;
}

.column{
    text-align: center;
   
}

/* .colomnborder{
    border-left: .5px solid lightblue;
    border-right: .5px solid lightblue;
    padding: 0px 150px;
} */

.colomnborder{
    border: .5px solid lightblue;
    height: 70px;
    
}

.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.services h3{
    color: rgb(107, 189, 216);
}

.courseParagraph
{
    width: 300px;
}
.courseBox
{
    background: rgb(2, 54, 102);
    color: rgb(107, 189, 216);
    text-align: center;
    width: 300px;
    height: 180px;
}
.coursedetailsContainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;
}

.detailsImg
{
   
    width: 300px;
    height: 400px;
}
.detailsImg img
{
    width: 400px;
    height: 450px;
    position: relative;
    top: -50px;
}
.detailsContainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
.detailsText
{
    background: rgb(2, 54, 102);
}
.detailstwoText
{
    width: 480px;
}
.detailstwo2Text
{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(107, 189, 216);
}
.detailscard
{
    width: 400px;
}
.bi
{
    font-size: 50px;
    color: rgb(107, 189, 216);
}
.textdeta h3
{
    color: rgb(107, 189, 216);
}

.meeting
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
}

.cardimg img
{
    width: 300px;
    height: 200px;
}
.cardText
{
    border: 2px solid blue;
    width: 300px;
    height: 150px;
}

.cardmeetContainer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.bi
{
    font-size: 30px;
}
.Btn button
{
    outline: none;
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}