*
{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
}

body
{
    background-color: rgb(1, 1, 45);
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img{
    display: none;
}


.modalContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(-100%); */
    transform: scale(0);
    transition: all .2s linear;
}
.showModal
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translateY(0); */
    transform: scale(1);
    transition: all .2s linear;
    /* background: rgb(3, 57, 117, 0.2);
    backdrop-filter: blur(10px); */
}

.modal
{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background-color:rgb(2, 2, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px rgb(0, 238, 255, 0.2),;
    
}





.modal p
{
    color: white;
}
.modal div
{
    margin: 20px 0px 0px 0px;
}
/* .modal div button
{
    outline: none;
    border: none;
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */
.modal div button:nth-child(2)
{
    outline: none;
    border: none;
    /* background: rgb(4, 129, 100); */
    background: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .navItems{
        position: absolute;
        display: grid;
        gap: 20px;
        background: yellow;
        width: 100%;
        top: 25px;
        padding: 20px;
        transform: translateX(-100%);
        transition: all .3s linear;
    }
    .showNav{
        position: absolute;
        display: grid;
        gap: 20px;
        background: yellow;
        width: 100%;
        top: 25px;
        padding: 20px;
        transform: translateX(0);
        transition: all .3s linear;
    }

    .img{
        display: block;
        cursor: pointer;
    }

    .loginContainer
    {
        display: none;
    }

}